section.about#about
	.container
		.row
			.col-md-6
				img(src='./images/photo1.png')
			.col-md-6
				p.section-title.about-title Hello!
				p.about-text My name is Anna Kozyreva. I'm from Russia. I'm working as QA Engineer for a long time and at one moment I decided that I want to do something new. After that I signed up for courses on the front-end  development, studied hard and now I opened for new projects.
