section.contacts#contacts
	.container
		h2.section-title Contacts
		.row
			.col-md-6.mobile-center
				img(src='../images/contacts.png')
				p.contacts-subtitle my location
				p.contacts-text Moscow, Russia <br> +7 905 578-71-63 <br> skype: akozyreva3 <br>anna-ko@yandex.ru <br> Anna Kozyreva
				.wrapper-soc-icons
					a(href="https://www.linkedin.com/in/akozyreva3" target="_blank")
						<i class="fa fa-linkedin"></i>
					a(href="https://vk.com/id28733169" target="_blank")
						<i class="fa fa-vk" aria-hidden="true"></i>
					a(class="href-resume" href="./resume.pdf" target="_blank") Resume
						<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
			.col-md-6
				#map
