section.exp#exp
	.container
		h2.section-title Experience
		.row
			.col-md-6
				.wrapper-exp-block
					.wrapper-exp-text
						p EXPERIENCE IN QA	<br>
						div.timer#timerqa 
					img.exp-img(src='./images/exp.png')
			.col-md-6
				.wrapper-exp-block
					.wrapper-exp-text
						p EXPERIENCE IN WEB	<br>
						div.timer#timerweb
					img.exp-img.last-exp-img(src='./images/exp1.png')
			.col-md-12
				p.exp-subtitle More info
		.row
			.col-md-12

				.wrapper-exp-descr
					img.exp-img(src='./images/exp03.png')
					p.exp-work-title Froncubator <br> 2017 - Present
					.wrapper-exp-descr-text
						p I study on web-development course. My learned skills:
						ul
							li - HTML
							li - CSS
							li - Less, Stylus
							li - Gulp
						p Now I study Vue.js and javascript object-oriented programming

				.wrapper-exp-descr
					img.exp-img(src='./images/exp02.png')
					p.exp-work-title Digital Economy League <br> Aug 2014 - Present
					.wrapper-exp-descr-text
						p Full-time work. In this work I have 2 main projects: Sberbank and  Private Office Of Russian Registry.  In Sberbank's project I tested site of Russian Bank, which was moved on platform Backbase. My responsibilites on project Sberbank were:
						ul 
							li - cross-browser testing (support IE 7+);
							li - cross-platform testing (mobile, tablet, web);
							li - testing back-end (rest-services and correct answers);
							li - testing front-end (for example: correct work of credit calculator)
							li - regression testing;
							li - interaction with an external testing team (contractor);
							li - smoke testing; 
							li - working with Kibana;
							li - making bug reports;
							li - data migration, using sql-scripts and git;
							li - writing and reviewing test cases (TestRail);

						p <b>Tools</b>: Postman, Oracle Sql Developer, Photoshop, Git <br>
						p Project Private Office Of Russian Registry is my current project. I test the personal office of Rosreestr, where users can put their object of cadastral registration in non-availability or order an extract for the property or order any other service from Rosreestr online. My team works, using Agile. My responsibilities are:
						ul 
							li - regression testing;
							li - functional testing;
							li - smoke testing; 
							li - writing autotests (entry level);
							li - making bug reports;
							li - release testing on the product.
						p Also I wrote autotests (arcitecture = TestNG+Maven+jenkins), the autotests project was left behind by a previous tester, who wrote a self-contained auto-test framework. <br>
						p <b>What was remembered at work</b>:once I was instructed to collect statistics on the attendance of the personal cabinet. I did not want to do it manually and wrote a script in python (v. 3+) and set up jenkins so that the script would collect statistics and update the Google table with statistics. <br>
						p <b>Tools</b>: bash, postgresql, Postman, Git, selenium, xml, json <br>
						<br>
						p Also I had freelance project (~11 moths) - I helped development team in testing CRM for furniture store. My responsibilites were: 
						ul 
							li - regression testing;
							li - functional testing;
							li - testing layout (makets were in Zeplin)
							li - making bug reports.
						p <b>Tools</b>: Zeplin, Youtrack <br>
				.wrapper-exp-descr
					img.exp-img(src='./images/exp00.png')
					p.exp-work-title S&T International <br> Jun 2013 - Aug 2014
					.wrapper-exp-descr-text
						p Part-time work. It's my first serious project - I studied in university and worked as QA in the free time. I tested the telephone operator system and the system, coordinating the work of engineers on installation of telephone and Internet equipment.  My responsibilities were:
						ul 
							li - regression testing;
							li - functional testing;
							li - integration testing;
							li - making bug reports;
							li - writing and reviewing test cases.
						p <b>Tools</b>: VPN Client, Jira, Outlook, Team Foundation Server
				.wrapper-exp-descr
					img.exp-img(src='./images/exp01.png')
					p.exp-work-title State University of Management <br> Sep 2010- Jun 2015
					.wrapper-exp-descr-text
						p Studied in State University of Management. The faculty is Mathematical Methods in Economics. My favourite subjects were:
						ul
							li - Higher Mathematics
							li - Linear algebra
							li - History of Economic Thought


			