header.site-header
	video(width="100%" playsinline autoplay muted loop source src="./images/Love-Coding.mp4" type="video/mp4")
	.container-header
		a(href="#!")
			img(src='./images/logo.png')
		span.menu-arrow.show
			<i class="fa fa-window-close"></i>
		span.menu-arrow.hide
			<i class="fa fa-bars"></i>
	.wrapper-container-fix-position
		.container
			.row
				.col-md-12
					ul.menu-mobile
						li
							a(href="#about" class="scroll-link") About me
						li
							a(href="#skills"  class="scroll-link") Skills
						li
							a(href="#exp"  class="scroll-link") Experience
						li
							a(href="#works"  class="scroll-link") Works
						li
							a(href="#contacts" class="scroll-link") Contacts
						li
							a(href="./resume.pdf" target="_blank") Resume
				.col-md-6
					.wrapper-title
						p.header-title a <span class="second-title">not so</span> <br> different <br> <span class="last-title">folio</span>
				.col-md-6.col-md-offset-1
					ul.menu
						li
							a(href="#about" class="scroll-link") About me
						li
							a(href="#skills"  class="scroll-link") Skills
						li
							a(href="#exp"  class="scroll-link") Experience
						li
							a(href="#works"  class="scroll-link") Works
						li
							a(href="#contacts" class="scroll-link") Contacts
						li
							a(href="./resume.pdf" target="_blank") Resume

				.col-md-12
					.wrapper-soc-icons
						a(href="https://www.linkedin.com/in/akozyreva3" target="_blank")
							<i class="fa fa-linkedin"></i>
						a(href="https://vk.com/id28733169" target="_blank")
							<i class="fa fa-vk" aria-hidden="true"></i>
						a(href="https://github.com/akozyreva" target="_blank")
							<i class="fa fa-github" aria-hidden="true"></i>
						a(href="https://jsfiddle.net/user/akozyreva/fiddles/" target="_blank")
							<i class="fa fa-jsfiddle" aria-hidden="true"></i>
						a(class="href-resume" href="./resume.pdf" target="_blank") Resume
							<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
			

				
				