section.skills#skills
	.about-wrapper
	.container
		h2.section-title Skills
		.row
			.col-md-12
				p.skills-title Web skills
				.wrapper-work-button
			
					.work-button 
						p html
					.work-button 
						p css
					.work-button 
						p less
					.work-button 
						p stylus
					.work-button 
						p pug
					.work-button 
						p gulp
					.work-button 
						p javascript
					.work-button 
						p python (enrty level)
					.work-button 
						p jquery
					.work-button 
						p Bootstrap
					.work-button 
						p git
					.work-button 
						p Vue.js (entry level)
			.col-md-12
				p.skills-title QA skills
				.wrapper-work-button
			
					.work-button 
						p Manual testing
					.work-button 
						p Cross-browser testing
					.work-button 
						p Cross-platform testing
					.work-button 
						p Testing back-end
					.work-button 
						p Testing front-end
					.work-button 
						p Regression testing
					.work-button 
						p Functional testing
					.work-button 
						p Smoke testing
					.work-button 
						p Testing layout
					.work-button 
						p Mobile testing
					.work-button 
						p Test case
					.work-button 
						p Check list
					.work-button 
						p Kibana
					.work-button 
						p SQL
					.work-button 
						p REST
					.work-button 
						p Autotests
					.work-button 
						p Selenium (beginner level)
					.work-button 
						p Postman
					.work-button 
						p JSON
					.work-button 
						p XML
			.col-md-12
				p.skills-title Languages
				.wrapper-work-button
					.work-button 
						p Russian
					.work-button 
						p English (speak fluently)
					.work-button 
						p German (learn A2)
			.col-md-12
				p.skills-title Hobbies
				.wrapper-work-button
					.work-button 
						p Music
					.work-button 
						p Reading
					.work-button 
						p Travelling
