section.works#works
	.container
		h2.section-title works
		.row.align-items-center.justify-content-center
			.work-button.assign(data-type="html")
				p html code projects
			.work-button(data-type="qa")
				p QA Projects
		.row.justify-content-center.align-left
			.block-work(data-type="qa" style="display: none;")
				a(target="_blank" href="https://lk.rosreestr.ru/")
					img(src='../images/work-3.png')
				p.work-title <span>Project: </span> Private Office Of Russian Registry
				p.work-subtitle  <span>Duration: </span> current project
				p.work-subtitle <span>Date </span> March 2017 - Present
				p.work-subtitle <span>Tools: </span> bash, postgresql, postman, git, selenium, xml, json
				p.work-description <span>Description: </span> This is my current project. I test the personal office of Rosreestr, where users can put their object of cadastral registration in non-availability or order an extract for the property or order any other service from Rosreestr online. My team works, using Agile. My responsibilities are:
				ul 
					li - regression testing;
					li - functional testing;
					li - smoke testing; 
					li - writing autotests (entry level);
					li - making bug reports;
					li - release testing on the product.
				p.work-description Also I wrote autotests (arcitecture = TestNG+Maven+jenkins), the autotests project was left behind by a previous tester, who wrote a self-contained auto-test framework. 
				p.work-subtitle <span>What was remembered at work </span>Once I was instructed to collect statistics on the attendance of the personal cabinet. I did not want to do it manually and wrote a script in python (v. 3+) and set up jenkins so that the script would collect statistics and update the Google table with statistics. 

			.block-work(data-type="qa" style="display: none;")
				a(target="_blank" href="https://dyatkovo.ru/")
					img(src='../images/work-2.png')
				p.work-title <span>Project: </span> Freelance - CRM for Dyatkovo (furniture store)
				p.work-subtitle <span>Duration: </span> 11 months
				p.work-subtitle <span>Date: </span> September 2016 - August 2017
				p.work-subtitle <span>Tools: </span> Zeplin, Youtrack
				p.work-description   <span>Description: </span> It's my freelance project - I helped development team in testing CRM for furniture store. My responsibilites were: 
				ul 
					li - regression testing;
					li - functional testing;
					li - testing layout (makets were in Zeplin)
					li - making bug reports.

			.block-work(data-type="qa" style="display: none;")
				a(target="_blank" href="https://www.sberbank.ru/ru/person")
					img(src='../images/work-1.png')
				p.work-title <span>Project: </span> Sberbank
				p.work-subtitle <span>Duration: </span> 3 years
				p.work-subtitle <span>Date </span> August 2014 — March 2017
				p.work-subtitle <span>Tools: </span> Postman, Oracle Sql Developer, Photoshop, Git
				p.work-description  <span>Description: </span> In this project I tested site of Russian Bank, which was moved on platform Backbase. My responsibilites were: 
				ul 
					li - cross-browser testing (support IE 7+);
					li - cross-platform testing (mobile, tablet, web);
					li - testing back-end (rest-services and correct answers);
					li - testing front-end (for example: correct work of credit calculator)
					li - regression testing;
					li - interaction with an external testing team (contractor);
					li - smoke testing; 
					li - working with Kibana;
					li - making bug reports;
					li - data migration, using sql-scripts and git;
					li - writing and reviewing test cases (TestRail);

					

			

			.block-work(data-type="qa" style="display: none;")
				img(src='../images/work-11.png')
				p.work-title <span>Project: </span> CRM of MGTS Company
				p.work-subtitle <span>Duration: </span> 1 year
				p.work-subtitle <span>Date: </span> June 2013 — August 2014
				p.work-subtitle <span>Tools: </span> VPN Client, Jira, Outlook, Team Foundation Server
				p.work-description   <span>Description: </span> It's my first serious project - I studied in university and worked as QA in the free time. I tested the telephone operator system and the system, coordinating the work of engineers on installation of telephone and Internet equipment.  My responsibilities were:
				ul 
					li - regression testing;
					li - functional testing;
					li - integration testing;
					li - making bug reports;
					li - writing and reviewing test cases.
				



			.block-work(data-type="html")
				a(target="_blank" href="http://akozyreva.ru")
					img(src='../images/work-10.png')
				p.work-title <span>Site: </span> My Portfolio
				p.work-subtitle <span>Tools: </span>  Gulp, stylus, pug, flex, Bootstrap v4, timers on native Javascript
				p.work-description <span>Description: </span> In this work I used Bootstrap for positioning. Also I wrote carousel of my works, using jquery, and wrote timers in section Experience, using native Javascript. Responsive for IPhone SE.


			.block-work(data-type="html")
				a(target="_blank" href="./trigonum.html")
					img(src='../images/work-8.png')
				p.work-title <span>Site: </span> Trigonum
				p.work-subtitle <span>Tools: </span>  Gulp, stylus, pug, flex, jquery plugin <span><a class="work-url" href="http://kenwheeler.github.io/slick/" target="_blank">slick </a></span>
				p.work-description <span>Description: </span> In this work I used flex and slick for sliders. I write switches and correct work for switches in slider "Our works", using jquery. In footer I added google map and tried to style it like on psd. Responsive for IPhone 5.



			.block-work(data-type="html")
				a(target="_blank" href="./blueasy.html")
					img(src='../images/work-9.png')
				p.work-title <span>Site: </span> Blueasy
				p.work-subtitle <span>Tools: </span> Gulp, less, pug, Bootstrap v4 
				p.work-description <span>Description: </span> In this work I tried to use Bootstrap for writing less css. Fully responsive.

			.block-work(data-type="html")
				a(target="_blank" href="./tinyone.html")
					img(src='../images/work-7.png')
				p.work-title <span>Site: </span> Tinyone
				p.work-subtitle <span>Tools: </span> Gulp, stylus, pug, flex.
				p.work-description <span>Description: </span>In this work I practiced in using flex for correct positioning elements. Site is responsive for IPhone 5.

			.block-work(data-type="html")
				a(target="_blank" href="./trend.html")
					img(src='../images/work-6.png')
				p.work-title <span>Site: </span> Trend
				p.work-subtitle <span>Tools: </span> Gulp, stylus, pug, flex, jquery plugin <span><a class="work-url" href="http://kenwheeler.github.io/slick/" target="_blank">slick </a></span>
				p.work-description <span>Description: </span> It is store selling websites. In this work I introduced with flex and made site responsive for IPhone 5. For sliders I used jquery plugin slick

			.block-work(data-type="html")
				a(target="_blank" href="./modus.html")
					img(src='../images/work-5.png')
				p.work-title <span>Site: </span> Modus versus
				p.work-subtitle <span>Tools: </span> Gulp, stylus, pug, jquery plugin <span><a class="work-url" href="https://github.com/pguso/jquery-plugin-circliful" target="_blank">circful </a></span>for circles in block "Why choose us?" 
				p.work-description <span>Description: </span> In this work I tried to create slider, which would switch slides automatically (without plugins, writing on jquery). For painting circles in block "Why choose us?" I used jquery-plugin circful and made animation for circles every time when user scroll down the page. Site is responsive for IPhone 10.

			.block-work(data-type="html")
				a(target="_blank" href="./goodinc.html")
					img(src='../images/work-4.png')
				p.work-title <span>Site: </span> Good Inc
				p.work-subtitle <span>Tools: </span> Gulp, stylus, pug
				p.work-description <span>Description: </span> Site about company Good Inc. Much details, not responsive

			

			