@font-face 
	font-family "GeorgiaScript"
	src url("../fonts/GeorgiaScript/GeorgiaScript.eot")
	src url("../fonts/GeorgiaScript/GeorgiaScript.woff") format("woff")
	src url("../fonts/GeorgiaScript/GeorgiaScript.woff2") format("woff2")
	src url("../fonts/GeorgiaScript/GeorgiaScript.ttf") format("truetype")


@font-face	
{    
	font-family "Lato-Regular"
	src url("../fonts/Lato-Regular/Lato-Regular.eot")
	src url("../fonts/Lato-Regular/Lato-Regular.woff") format("woff")
	src url("../fonts/Lato-Regular/Lato-Regular.woff2") format("woff2")
	src url("../fonts/Lato-Regular/Lato-Regular.ttf") format("truetype")
}
@font-face	
{    
	font-family "OpenSans"
	src url("../fonts/OpenSans/OpenSans.eot")
	src url("../fonts/OpenSans/OpenSans.woff") format("woff")
	src url("../fonts/OpenSans/OpenSans.woff2") format("woff2")
	src url("../fonts/OpenSans/OpenSans.ttf") format("truetype")
}
@font-face	
{    
	font-family "OpenSans-Extrabold"
	src url("../fonts/OpenSans-Extrabold/OpenSans-Extrabold.eot")
	src url("../fonts/OpenSans-Extrabold/OpenSans-Extrabold.woff") format("woff")
	src url("../fonts/OpenSans-Extrabold/OpenSans-Extrabold.woff2") format("woff2")
	src url("../fonts/OpenSans-Extrabold/OpenSans-Extrabold.ttf") format("truetype")
}
@font-face	
{    
	font-family "OpenSans-Semibold"
	src url("../fonts/OpenSans-Semibold/OpenSans-Semibold.eot")
	src url("../fonts/OpenSans-Semibold/OpenSans-Semibold.woff") format("woff")
	src url("../fonts/OpenSans-Semibold/OpenSans-Semibold.woff2") format("woff2")
	src url("../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf") format("truetype")
}

