.site-header
	background-image url('../images/header.jpg')
	position relative
	overflow hidden
	background-position center
	background-repeat no-repeat
	background-size cover
	background-attachment scroll
	
.menu-arrow
	color white
	font-size 30px
	margin-top 29px
	position relative
	float right
	.fa
		cursor pointer
	
.header-title
	color white
	font-size 85px
	font-family "OpenSans-Extrabold"
	text-transform uppercase
	.second-title
		font-family "OpenSans"
		font-size 85px
	:after
		content ''
		background-color white
		width 314px
		height 6px	
		position absolute
		top 55px
		left 97px
	:before
		content ''
		background-color white
		width 314px
		height 6px	
		position absolute
		top 70px
		left 97px	
	.last-title
		font-family "OpenSans-Extrabold"
		font-size 85px
		margin-left 186px
.wrapper-title:after
	content ''
	background-color white
	width 192px
	height 12px	
	position absolute
	top 314px
	left 16px
		
ul.menu li
	text-align center
	margin-bottom 60px
	:after
		content ''
		background-color white
		width 60px
		height 6px	
		position absolute
		top 42px
		right 243px
		margin-top 17px
ul.menu li a,ul.menu-mobile li a
	display block
	position relative
	color white
	font-family "OpenSans-Semibold"
	font-size 30px
	text-align center
	text-transform uppercase
	line-height 40px
	width max-conetent
.wrapper-container-fix-position
	position absolute
	top 10%
	left 10%
.container
	max-width 1170px
	position relative
	margin 0 auto
.container-header
	max-width 1355px
	//position relative
	position: absolute
	top 0
	left 0
	min-width 100%
	margin 0 auto
	margin-bottom 165px
	padding-top 50px	
.wrapper-soc-icons
	position relative
	overflow hidden
	margin-bottom 50px
	a:hover
		color white
	a
		margin-right 25px
		color white
	
	.href-resume
		text-transform uppercase
		font-family "OpenSans-Semibold"
		margin-left 40px
		.fa
			margin-left 20px
header.site-header
		.container
			.row
				.col-md-12
					ul.menu-mobile
						display none
.menu-arrow
	display none
video
	width inherit