.about
	background-color #f7f7f1
	.container
		padding 165px 0
		.about-title
			text-align justify
			&:after
				top 29px
				left -120px
				position absolute
				margin auto
				
		.about-text 
			font-family "Lato-Regular"
			font-size 24px
			line-height 40px	