.exp
	background-color #f0e3e3
	padding 50px 0
	.container
		max-width 1700px
.wrapper-exp-block
	position relative
	overflow hidden
	display flex
	flex-wrap wrap
	align-items baseline
	justify-content space-evenly
	margin-bottom 45px
	.wrapper-exp-text
		position relative
		overflow hidden
		display flex
		flex-wrap wrap
		justify-content space-around	
		p
			display inline
			font-family "OpenSans-Semibold"
			font-size 35px
			text-align center
img.exp-img 
	max-height 10em
.last-exp-img
	margin-right 30px

.wrapper-exp-descr
	position relative
	display flex
	align-items center
	p.exp-work-title
		padding 5px
		font-family "OpenSans-Extrabold"
		text-transform uppercase
		border 5px solid black
		background-color white
		width 100%
		max-width 270px
		font-size 18px
		text-align center
	img
		margin-right 5%
	.wrapper-exp-descr-text
		margin-bottom 30px
		padding-left 100px
		span 
			margin-right 20px
		p
			margin-bottom 5px
		p,li
			font-family "Lato-Regular"
		ul
			line-height 24px
			margin-bottom 0
.timer
	display inline-flex
	flex-wrap wrap
	padding 20px
	.timer-wrapper
		margin-right 20px
		text-transform uppercase
		border 5px solid black
		text-align: center
		background-color: white
		padding 10px
		p
			font-family "OpenSans-Semibold"
			font-size 50px
		span
			font-family "OpenSans-Semibold"
			font-size 22px
.container
	.col-md-12
		img.st
			margin 40px auto
			display block
.hack-img
	display block
	margin 20px auto