.works
	padding 70px 0
	.container
		max-width 98%



.block-work
	position relative
	margin-right 1%
	overflow hidden
	max-width 400px
	margin-bottom 40px
	p, li
		font-family "OpenSans"
		font-size 18px
		margin-bottom 0
		span
			font-size 20px
			text-transform uppercase
			font-family "OpenSans-Extrabold"
	.work-title
		margin-top 20px

.assign
	border 5px solid white
	background-color black
	p
		color white
.work-url
	font-family "OpenSans-Semibold"
	text-transform lowercase
	color #538ac5
.work-button
	border 3px solid black
	margin-left 1%
	padding 10px
	cursor pointer
	overflow hidden
	margin-bottom 1rem
	&:hover
		border 5px solid white
		background-color black
		p
			color white
	p
		text-transform uppercase
		font-family "OpenSans-Semibold"
		margin-bottom 0
		text-align center
.align-left
	padding 20px