.contacts
	padding 70px 0
	.wrapper-soc-icons
		a
			color black

#map
	height auto
	min-height 380px
	
.contacts-subtitle
	font-family "OpenSans-Semibold"
	text-transform uppercase
	margin 20px 0

.contacts-text
	font-family "Lato-Regular"