@media screen and (max-width 1440px)
	.container-header
		padding 10px
@media screen and (max-width 1234px)
	.about .container
		padding 20px
@media screen and (max-width 1042px)
	.about .container .about-title:after
		display none
	.work-button
		margin-bottom 10px
@media screen and (max-width 420px)
	.about .container
		img
			max-width 80%
@media screen and (max-width 1122px)
	.container-header
		margin-bottom 0
		.menu-arrow.show
			display block
	header.site-header
		.container
			.row
				.col-md-6.col-md-offset-1
					display none
				.col-md-12
					ul.menu-mobile
						display block
				
					
	ul.menu-mobile
		border 4px solid white
	ul.menu-mobile li
		margin-bottom 5px
		border-bottom 4px solid white
		&:last-child
			border-bottom none
		a:hover
			text-decoration none
	ul.menu-mobile li :after
		display none
@media screen and (max-width 867px)
	.wrapper-title
		margin-bottom 10px
		.header-title .second-title
			display none
		.header-title .last-title:before,.header-title .last-title:after
			display none
@media screen and (max-width 487px)
	.header-title
		font-size 45px
	.header-title .last-title
		margin-left 0
		font-size 45px
	.wrapper-title:after
		display none
@media screen and (max-width 330px)
	.wrapper-soc-icons .href-resume
		margin-left 0
		display block
@media screen and (min-width 1123px)
	.container-header
		.menu-arrow
			display none !important
	ul.menu-mobile
		display none !important

@media screen and (max-width 1510px)
	.timer
		.timer-wrapper 
			padding 5px
			p
				font-size 30px
				font-family "OpenSans-Extrabold"
			span
				font-size 15px
@media screen and (max-width 1135px)
	.timer
		justify-content center
		.timer-wrapper 
			margin-bottom 10px
			min-width 86px
@media screen and (max-width 900px)
	.wrapper-exp-descr
		flex-wrap wrap
		justify-content space-evenly
@media screen and (max-width 900px)
	.wrapper-exp-descr .wrapper-exp-descr-text
		padding 20px
@media screen and (max-width 438px)
	.wrapper-exp-descr img
		margin-bottom 20px
	.wrapper-exp-descr p.exp-work-title
		margin-bottom 20px
	.wrapper-exp-descr .wrapper-exp-descr-text
		margin-bottom 20px
@media screen and (max-width 768px)
	.contacts
		padding 20px 0
	.mobile-center
		text-align center
	.footer
		padding 20px 0
@media screen and (max-width 434px)
	.block-work
		img
			width 93%
@media screen and (max-width 1300px)
	.works
		padding 20px 0